*{
    margin: 0;
    padding: 0;
}

@media only screen and (max-width: 1024px) {
     .container{
      background-color: teal;
      color: white;
      padding: 20px;
      text-align: center;
    }
  }

@media only screen and (max-width:768px){
  .container{
    background-color: green;
    color: yellow;
    text-align: center;
  }
}
@media only screen and (max-width:425px){
  .container{
    background-color: purple;
    color: white;
    text-align: center;
  }
}